/* Header */
header {
  position: sticky;
  height: calc(var(--unit-row) * 4);
}
@media (min-width: 768px) {
  header {
    height: calc(var(--unit-row) * 3);
  }
}
header {
  padding: 0 var(--unit-row);
}
header h1 {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--primary);
}
header a:hover {
  color: var(--primary);
}

.header_default {
  height: calc(var(--unit-row) * 4);
}
@media (min-width: 768px) {
  .header_default {
    height: calc(var(--unit-row) * 3);
  }
}
.header_default .hamberger {
  position: relative;
  gap: 11.5px;
}
.header_default .hamberger > div {
  width: 20px;
  height: 2px;
  background: var(--text-default);
  transition: all 0.5s;
}
.header_default .hamberger:active > div {
  background: var(--primary);
}
.header_default .hamberger:active > div:first-child {
  transform-origin: top left;
  rotate: 45deg;
}
.header_default .hamberger:active > div:last-child {
  transform-origin: bottom left;
  rotate: -45deg;
}

.header_pc {
  position: relative;
  padding: 0 calc(var(--unit-row) * 3);
}
.header_pc a[href="/index.html"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header_pc .links {
  gap: var(--unit-pc-gutter);
}
.header_pc .links div:hover {
  color: var(--primary);
}

/* Header */
/* Navigation */
nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: calc(var(--unit-row) * 4);
  left: 0;
  z-index: 10;
}
@media (min-width: 786px) {
  nav {
    top: calc(var(--unit-row) * 3);
  }
}
nav .container {
  width: 100%;
  padding: calc(var(--unit-row) * 2) 0;
  gap: 22px;
}
@media (min-width: 786px) {
  nav .container {
    padding: calc(var(--unit-row) * 3) 0;
    gap: 95px;
  }
}
nav .menu_wrapper {
  gap: calc(var(--unit-row) * 2);
}
@media (min-width: 786px) {
  nav .menu_wrapper {
    gap: var(--unit-row);
  }
}
nav .menu_wrapper {
  color: var(--text-muted);
}
nav .menu_wrapper .navs,
nav .menu_wrapper .links {
  gap: calc(var(--unit-row) * 2);
}
nav .menu_wrapper .navs {
  padding-bottom: calc(var(--unit-row) * 2);
  border-bottom: 1px solid var(--stroke);
}
@media (min-width: 1280px) {
  nav .menu_wrapper .links {
    display: none;
  }
}
nav .tab {
  gap: calc(var(--unit-row) * 2);
}
nav .tab .categories_wrapper {
  padding: 0 38;
  gap: 20px 114px;
  grid-template-columns: none;
}
nav .type_wrapper {
  width: 100%;
  padding: 38px;
  gap: var(--unit-row) 114px;
  grid-template-columns: repeat(2, auto);
}
@media (min-width: 768px) {
  nav .type_wrapper {
    padding: 79px;
    gap: calc(var(--unit-row) * 2) 64px;
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1280px) {
  nav .type_wrapper {
    padding: 98px;
    gap: calc(var(--unit-row) * 2) 54px;
    grid-template-columns: repeat(4, auto);
  }
}
nav .type_wrapper .type_round {
  gap: 5px;
}
nav .type_wrapper .type_round .type_image {
  background: var(--surface-bg);
  border: 1px solid var(--stroke);
  width: 68px;
  height: 68px;
}
@media (min-width: 768px) {
  nav .type_wrapper .type_round .type_image {
    width: 75px;
    height: 75px;
  }
}
@media (min-width: 1280px) {
  nav .type_wrapper .type_round .type_image {
    width: 100px;
    height: 100px;
  }
}
nav .type_wrapper .type_square .type_image {
  background: var(--surface-bg);
  border: 1px solid var(--stroke);
  width: 100px;
  height: 43px;
}
@media (min-width: 768px) {
  nav .type_wrapper .type_square .type_image {
    width: 110px;
    height: 47px;
  }
}
@media (min-width: 1280px) {
  nav .type_wrapper .type_square .type_image {
    width: 130px;
    height: 56px;
  }
}
@media (min-width: 768px) {
  nav .type_wrapper .type_round .type_text,
  nav .type_wrapper .type_square .type_text {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  nav .type_wrapper .type_round .type_text,
  nav .type_wrapper .type_square .type_text {
    font-size: 16px;
  }
}

/* Navigation */
/* Product Card */
.product_card {
  width: 100%;
}
.product_card .image_slider {
  width: 100%;
  height: 260px;
  aspect-ratio: 440/260;
  position: relative;
  overflow: hidden;
}
.product_card ul {
  width: max-content;
  height: 100%;
}
.product_card li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_card .actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding: 5px;
  box-sizing: border-box;
}
.product_card .actions .bottom,
.product_card .actions .top {
  width: 100%;
}
.product_card .actions .top .badge {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  animation: pulse 0.5s 0s alternate infinite;
}
@keyframes pulse {
  from {
    text-shadow: none;
    background: var(--gradient-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    text-shadow: 0px 0px 5px var(--secondary-muted);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.product_card .actions .top .whish_btn {
  padding: 3px;
  color: var(--secondary);
  background: var(--surface-tint);
}
.product_card .actions .ar_btn {
  padding: 0 7px;
  color: var(--surface-tint);
  background: var(--primary);
}
.product_card .actions .slider_btns {
  width: 100%;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  color: var(--primary-muted);
}
.product_card .actions .image_next {
  right: 10px;
}
.product_card .actions .image_prev {
  left: 10px;
}
.product_card .actions .read_only_pagers {
  bottom: 50%;
}
.product_card .actions .read_only_pagers .read_only_pager {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: var(--dim-bg);
  margin: 0 1px;
  transition: all 0.3s;
}
.product_card .actions .read_only_pagers .read_only_pager_active {
  background: var(--primary-muted);
}
.product_card .info {
  gap: var(--unit-row);
}
.product_card .info .tags {
  gap: 5px;
  color: var(--text-muted);
}
.product_card .info .details {
  gap: var(--unit-row);
  padding: 0 5px;
}
.product_card .info .details .color_options {
  gap: var(--unit-m-gutter);
}
.product_card .info .details .color_options .color {
  width: 20px;
  height: 20px;
  background: var(--text-default);
}
.product_card .info .details .cart_btn {
  color: var(--secondary);
}
.product_card .info .details .name {
  max-width: 50%;
}

/* Product Card */
/* Skeleton Card*/
/* Skeleton Card*/