/* Keyword filters */
.keyword_filters .keyword {
  background: var(--surface-bg);
  padding: 3px 7px;
  border: none;
}
.keyword_filters .active {
  color: var(--surface-bg);
  background: var(--primary);
}