.floating_sidebar *{
  box-sizing:border-box;
}

.side_bar{
  width: 46px;
  position:fixed;
  right:0px;
  bottom: 80px;
  display:flex;
  flex-direction:column;
  gap:16px;
  z-index:9999;
  transition:
    opacity .3s ease,
    transform .3s ease;
}

/* 스크롤 숨김 */

.side_bar.hide{
  opacity:0;
  pointer-events:none;
}

/* TOP */

.side_bar .top_btn{
  width:46px;
  height:46px;
  border:none;
  cursor:pointer;
  border-radius: 999px;
  border:1px solid var(--text-muted);
  background:var(--surface-tint);
  display:flex;
  align-items:center;
  justify-content:center;
}
/* MENU */

.side_bar .menu_item{
  width:46px;
  height:46px;
  display:flex;
  align-items:center;
  overflow:hidden;
  border-radius:999px;
  transition:
    width .35s ease,
    transform .35s ease;
}

.side_bar .menu_item .icon{
  width:46px;
  height:46px;
  border:none;
  cursor:pointer;
  border-radius:999px;
  border:1px solid var(--text-muted);
  background:var(--surface-tint);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-shrink:0;
}
.side_bar .menu_item .text{
  opacity:0;
  max-width:0;
  overflow:hidden;
  white-space:nowrap;
  text-decoration:none;
  color:var(--surface-tint);
  transition:.35s ease;
}

/* 활성화 */

.side_bar .menu_item.active{
  width: fit-content;
  transform:translateX(calc(-100% + 46px ));
  background:linear-gradient(
    90deg,
    var(--primary-muted),
    var(--secondary)
  );
}

.side_bar .menu_item.active .text{
  opacity:1;
  max-width:200px;
  padding: 0 25px 0 15px;
}
@media (min-width: 768px) {
  .side_bar{
    width: 54px;
    bottom: 80px;
  }
  .side_bar .top_btn{
    width: 54px;
    height: 54px;
  }
  .side_bar .menu_item{
    width: 54px;
    height: 54px;
  }
  .side_bar .menu_item .icon{
  width:54px;
  height:54px;
  }
  .side_bar .menu_item.active{
  transform:translateX(calc(-100% + 54px ));
  }
}
@media (min-width: 1200px) {
  .side_bar{
    width: 60px;
    bottom: 100px;
  }
  .side_bar .top_btn{
    width: 60px;
    height: 60px;
  }
  .side_bar .menu_item{
    width: 60px;
    height: 60px;
  }
  .side_bar .menu_item .icon{
  width:60px;
  height:60px;
  }
  .side_bar .menu_item.active{
  transform:translateX(calc(-100% + 60px ));
  }
}