@use 'mixins' as *;
/* Header */
header {
  position: sticky;
  top: 0;
  height: calc(var(--unit-row) * 4);
  @media (min-width: 768px) {
    height: calc(var(--unit-row) * 3);
  }
  padding: 0 var(--unit-row);
  z-index: 5;
  background: var(--surface-tint);
  h1 {
    font-family: 'Pretendard';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: var(--primary);
  }
  & > a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  a:hover {
    color: var(--primary);
  }
}
.header_default {
  height: calc(var(--unit-row) * 4);
  @media (min-width: 768px) {
    height: calc(var(--unit-row) * 3);
  }
  .hamberger {
    position: relative;
    gap: 11.5px;
  }
  .hamberger > div {
    width: 20px;
    height: 2px;
    background: var(--text-default);
    transition: all 0.5s;
  }
  .hamberger > div.active {
    background: var(--primary);
    &:first-child {
      transform-origin: top left;
      rotate: 45deg;
    }
    &:last-child {
      transform-origin: bottom left;
      rotate: -45deg;
    }
  }
}
.header_pc {
  position: relative;
  padding: 0 calc(var(--unit-row) * 3);
  a[href='/index.html'] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .links {
    gap: var(--unit-pc-gutter);

    div:hover {
      color: var(--primary);
    }
  }
}
/* Header */

/* Footer */
footer {
  background-color: var(--surface-tint);
}
.footer_box {
  // padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_cta {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid var(--text-default);
  border-bottom: 1px solid var(--text-default);
}
.footer_content {
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
.footer_menu_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.footer_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_menu_item {
  display: flex;
  gap: 8px;
}
.footer_sns {
  display: flex;
  gap: 10px;
}
.footer_sns img {
  width: 20px;
  height: 20px;
}
.footer_info {
  display: flex;
  padding-bottom: 20px;
  height: 100%;
}
.footer_info_item {
  display: flex;
  width: 180px;
}
.footer_info_item2 {
  width: 216px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
}
.footer_menu_item .pre_bold_14,
.footer_info_item .pre_bold_14 {
  font-size: 12px;
}
.footer_info_item .material-icons.icon_16 {
  transition: transform 0.3s ease;
  cursor: pointer;
}
.footer_info_item.active .material-icons.icon_16 {
  transform: scaleX(-1);
}

.footer_info_item.active + .footer_info_item2 {
  max-height: 500px;
  opacity: 1;
}
@media (min-width: 768px) {
  .footer_cta h2::after {
    content: ' 통합 맵 바로가기';
  }
  .footer_menu {
    gap: 16px;
  }
  .footer_menu_container {
    gap: 20px;
  }
  .footer_content {
    width: 768px;
    flex-direction: row;
    gap: 30px;
  }
  .footer_sns img {
    width: 24px;
    height: 24px;
  }
  .footer_info_item {
    width: 166px;
  }
  .footer_info_item2 {
    width: 270px;
  }
}
@media (min-width: 1280px) {
  .footer_content {
    width: 1280px;
    justify-content: center;
    gap: 250px;
  }
  .footer_menu_item .pre_bold_14,
  .footer_menu_item .pre_reg_12,
  .footer_info_item .pre_bold_14,
  .footer_info_item .pre_reg_12 {
    font-size: 14px;
  }
  .footer_cta .pre_reg_14 {
    font-size: 20px;
  }
  .footer_sns img {
    width: 40px;
    height: 40px;
  }
  .footer_info_item {
    width: 200px;
  }
}
/* Footer */

/* Navigation */
nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: calc(var(--unit-row) * 4);
  left: 0;
  z-index: 10;
  @media (min-width: 768px) {
    top: calc(var(--unit-row) * 3);
  }
  .container {
    width: 100%;
    padding: calc(var(--unit-row) * 2) 0;
    gap: 22px;
    @media (min-width: 768px) {
      padding: calc(var(--unit-row) * 3) 0;
      gap: 95px;
    }
  }
  .menu_wrapper {
    width: 10%;
    gap: calc(var(--unit-row) * 2);
    @media (min-width: 768px) {
      gap: var(--unit-row);
    }
    color: var(--text-muted);
  }
  .menu_wrapper .navs,
  .menu_wrapper .links {
    gap: calc(var(--unit-row) * 2);
  }
  .menu_wrapper .navs {
    padding-bottom: calc(var(--unit-row) * 2);
    border-bottom: 1px solid var(--stroke);
  }
  .menu_wrapper .navs li {
    gap: 5px;
    cursor: pointer;
  }
  .menu_wrapper .navs .circle {
    width: 5px;
    height: 5px;
    background: var(--gradient);
  }
  .menu_wrapper .navs input {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
  }
  .menu_wrapper .navs label {
    cursor: pointer;
  }
  .active {
    color: var(--text-default);
    font-weight: 700;
  }

  .menu_wrapper .links {
    @media (min-width: 1280px) {
      display: none;
    }
  }

  .menu_wrapper .links a {
    gap: 0;
    transition: 0.3s ease-out;
    @media (min-width: 1280px) {
      font-size: 18px;
    }
    &:hover {
      font-weight: 700;
      gap: 10px;
    }
  }
  .tab {
    width: 60%;
    gap: calc(var(--unit-row) * 2);
  }
  .tab .categories_wrapper {
    width: 100%;
    // padding: 0 38px;
    @include set-grid(20px, 114px);
  }
  .tab .categories_wrapper > a {
    color: var(--secondary-muted);
    font-style: underline;
    &:hover {
      font-weight: 700;
    }
  }
  .type_wrapper {
    // width: 100%;
    // padding: 0 38px;
    @include set-grid($tbGap: var(--unit-row), $columns: repeat(2, 1fr));
    @media (min-width: 768px) {
      // padding: 0 79px;
      @include set-grid($tbGap: calc(var(--unit-row) * 2), $columns: repeat(3, 1fr));
    }
    @media (min-width: 1280px) {
      // padding: 0 98px;
      @include set-grid($tbGap: calc(var(--unit-row) * 2), $columns: repeat(4, 1fr));
    }
    .type_round {
      gap: 5px;
    }
    .type_round .type_image {
      background: var(--surface-bg);
      border: 1px solid var(--stroke);
      width: 68px;
      height: 68px;
      @media (min-width: 768px) {
        width: 75px;
        height: 75px;
      }
      @media (min-width: 1280px) {
        width: 100px;
        height: 100px;
      }
    }
    .type_square .type_image {
      background: var(--surface-bg);
      border: 1px solid var(--stroke);
      width: 100px;
      height: 43px;
      @media (min-width: 768px) {
        width: 110px;
        height: 47px;
      }
      @media (min-width: 1280px) {
        width: 130px;
        height: 56px;
      }
    }
    .type_round .type_text,
    .type_square .type_text {
      @media (min-width: 768px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
/* Navigation */

/* Side Bar */
.floating_sidebar * {
  box-sizing: border-box;
}

.side_bar {
  width: 46px;
  position: fixed;
  right: 0px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 9999;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

/* 스크롤 숨김 */
.side_bar.hide {
  opacity: 0;
  pointer-events: none;
}

/* TOP */
.side_bar .top_btn {
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  border: 1px solid var(--text-muted);
  background: var(--surface-tint);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU */
.side_bar .menu_item {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 999px;
  transition:
    width 0.35s ease,
    transform 0.35s ease;
}

.side_bar .menu_item .icon {
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  border: 1px solid var(--text-muted);
  background: var(--surface-tint);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.side_bar .menu_item .text {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: var(--surface-tint);
  transition: 0.35s ease;
}

/* 활성화 */
.side_bar .menu_item.active {
  width: fit-content;
  transform: translateX(calc(-100% + 46px));
  background: linear-gradient(90deg, var(--primary-muted), var(--secondary));
}

.side_bar .menu_item.active .text {
  opacity: 1;
  max-width: 200px;
  padding: 0 25px 0 15px;
}

@media (min-width: 768px) {
  .side_bar {
    width: 54px;
    bottom: 80px;
  }
  .side_bar .top_btn {
    width: 54px;
    height: 54px;
  }
  .side_bar .menu_item {
    width: 54px;
    height: 54px;
  }
  .side_bar .menu_item .icon {
    width: 54px;
    height: 54px;
  }
  .side_bar .menu_item.active {
    transform: translateX(calc(-100% + 54px));
  }
}
@media (min-width: 1200px) {
  .side_bar {
    width: 60px;
    bottom: 100px;
  }
  .side_bar .top_btn {
    width: 60px;
    height: 60px;
  }
  .side_bar .menu_item {
    width: 60px;
    height: 60px;
  }
  .side_bar .menu_item .icon {
    width: 60px;
    height: 60px;
  }
  .side_bar .menu_item.active {
    transform: translateX(calc(-100% + 60px));
  }
}
/* Side Bar */

/* Product Card */
.product_card {
  width: 100%;
  // align-items: stretch;
  .image_slider {
    width: 100%;
    height: 260px;
    aspect-ratio: 440 / 260;
    position: relative;
    overflow: hidden;
  }
  ul {
    width: max-content;
    height: 100%;
  }
  li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 5px;
    box-sizing: border-box;
  }
  .actions .bottom,
  .actions .top {
    width: 100%;
  }
  .actions .top .badge {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    animation: pulse 0.5s 0s alternate infinite;
  }
  @keyframes pulse {
    from {
      text-shadow: none;
      background: var(--gradient-light);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    to {
      text-shadow: 0px 0px 5px var(--secondary-muted);
      background: var(--gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .actions .top .wish_btn {
    padding: 3px;
    color: var(--secondary);
    background: var(--surface-tint);
  }
  .actions .ar_btn {
    padding: 0 7px;
    color: var(--surface-tint);
    background: var(--primary);
    &:active {
      background: var(--surface-tint);
      color: var(--primary);
    }
  }
  .actions .slider_btns {
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    color: var(--primary-muted);
  }
  .actions .image_next {
    right: 10px;
  }
  .actions .image_prev {
    left: 10px;
  }
  .actions .read_only_pagers {
    bottom: 50%;
  }
  .actions .read_only_pagers .read_only_pager {
    display: inline-block;
    width: 25px;
    height: 2px;
    background: var(--dim-bg);
    margin: 0 1px;
    transition: all 0.3s;
  }
  .actions .read_only_pagers .read_only_pager_active {
    background: var(--primary-muted);
  }

  .info {
    gap: var(--unit-row);
  }
  .info .tags {
    gap: 5px;
    color: var(--text-muted);
  }
  .info .details {
    gap: var(--unit-row);
    padding: 0 5px;
  }
  .info .details .color_options {
    gap: var(--unit-m-gutter);
  }
  .info .details .color_options .color {
    width: 20px;
    height: 20px;
    background: var(--text-default);
  }
  .info .details .cart_btn {
    color: var(--secondary);
  }
  .info .details .name {
    max-width: 50%;
  }
}
/* Product Card */

/* Skeleton Card*/
/* Skeleton Card*/
