@use 'utilities' as *;

body {
  box-sizing: border-box;
  background-color: var(--surface-bg);
  color: var(--text-default);
  padding-bottom: 160px;

  @media (min-width: 1440px) {
    & {
      background-color: var(--surface-bg-beige);
      padding-bottom: 0;
    }
  }
}

header {
  position: sticky !important;
  background-color: var(--surface-bg-beige);
  left: 0;
  top: 0;
  z-index: 999999;
}

main {
  background-color: var(--surface-bg-beige);
  display: flex;
  flex-direction: column;
  width: 100%;

  .hero {
    width: 100%;
  }

  .sticky {
    width: 100%;
    margin-bottom: 80px;
    gap: calc(var(--unit-row) * 1.5);

    @media (min-width: 1440px) {
      margin-bottom: 0;
    }

    .product_cta {
      position: fixed;
      bottom: 0;
      left: 0;
      gap: var(--unit-row);
      width: 100%;
      box-sizing: border-box;
      padding: var(--unit-row) var(--unit-m-gutter);
      margin: 0 !important;
      background-color: var(--surface-bg-beige);
      box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.1);
      z-index: 9999;

      .quantity_box {
        label {
          width: fit-content;
        }

        .quantity_controller {
          width: fit-content;
          padding-bottom: 1px;
          border: 1px solid var(--text-muted);

          button {
            width: 20px;
          }

          input {
            width: 20px;
            border: 0;
            background-color: var(--transparent);
            text-align: center;
          }
        }
      }

      .total_price_box {
        gap: calc(var(--unit-row) * 0.25);
      }

      .cta_box {
        gap: calc(var(--unit-m-gutter) * 0.5);
        height: calc(var(--unit-row) * 3);

        button {
          height: 100%;
          aspect-ratio: 1 / 1;
          color: var(--primary);
          border: 1px solid var(--primary);
          background-color: var(--transparent);
        }

        a {
          height: 100%;
          width: 100%;
          color: var(--surface-bg);
          background-color: var(--primary);
        }
      }

      @media (min-width: 1440px) {
        position: static;
        padding: 0 var(--unit-pc-margin);
        box-shadow: none;

        .cta_box {
          height: calc(var(--unit-row) * 2);
        }
      }
    }
  }

  .main_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit-row) * 4);
  }

  @media (min-width: 1440px) {
    & {
      display: grid !important;
      grid-template-columns: 1fr 420px;
      align-items: start;

      max-width: 1320px;
      margin: 0 auto;
      margin-bottom: calc(var(--unit-row) * 4);
      padding: 0;
    }

    // new wrapper for grid: left column
    .left_column_wrapper {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0;

      .hero,
      .main_contents {
        width: 100%;
      }

      .main_contents {
        .content_details {
          .detail_spec {
            .spec_image_container {
              .spec_image_wrapper {
                width: 100% !important; // PC에선 600px 제한 풀고 부모 꽉 채우기
                max-width: 100% !important;

                // anti-mobile layout
                .spec_photos {
                  position: relative !important;
                  width: 100% !important;
                  left: 0 !important;
                  right: 0 !important;
                  margin-left: 0 !important;
                  margin-right: 0 !important;
                }

                .spec_image {
                  width: 100% !important;
                  height: auto !important;
                }
              }
            }
          }
        }
      }

      .hero {
        width: 100%;

        .swiper {
          width: 100%;
          height: 750px;

          .swiper-wrapper {
            flex-direction: column;
          }

          .swiper-slide {
            width: 100%;
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    // new wrapper for grid: right column
    .sticky {
      grid-column: 2;
      position: sticky;
      top: calc(var(--unit-row) * 4);
      z-index: 10;
      width: 100%;
    }
  }
}

h1 {
  margin: 0;
}

.product_info {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  padding-top: calc(var(--unit-row) * 1.5);
  gap: calc(var(--unit-row) / 2);

  .info_badge {
    align-self: flex-start;
    vertical-align: middle;
    padding: 5px 10px;
    background-color: var(--text-muted);
    color: var(--surface-bg);
  }

  .info_meta {
    gap: var(--unit-m-gutter);
    padding: 10px 0;

    .meta_item {
      gap: calc(var(--unit-m-gutter) * 0.25); // 4px
      color: var(--text-muted);

      .material-icons {
        color: var(--text-default);
      }
    }
  }

  .info_price_row {
    padding-bottom: calc(var(--unit-row) * 0.25);

    .price_discount_group {
      gap: calc(var(--unit-m-gutter) * 0.5);
    }

    .price_original {
      text-decoration: line-through;
      color: var(--text-light);
    }
  }

  .info_benefit_accordion {
    .info_benefit_heading {
      padding-top: calc(var(--unit-row) * 0.75);
      border-top: 1px solid var(--stroke);
      cursor: pointer;

      &:hover {
        color: var(--text-muted);
      }

      .material-icons {
        transition: transform 0.3s ease;

        &.is_rotated {
          transform: rotateZ(180deg);
        }
      }
    }

    .panel_body {
      margin-top: calc(var(--unit-row) * 0.25);
    }
  }
}

.hero {
  .slide_basic {
    margin-top: 0 !important;

    .swiper-slide {
      aspect-ratio: 1 / 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }
}

.product_series {
  .slide_series {
    position: relative;
    overflow: hidden;
    width: 100%;

    .swiper-wrapper {
      transition-timing-function: linear !important;

      .swiper-slide {
        width: auto;
        height: 400px;

        img {
          width: auto; // 너비는 고정하지 않고
          height: 100%; // 부모(.swiper-slide) 높이에 100% 맞춤
          object-fit: cover;
        }
      }
    }
  }

  .grid_series {
    display: none !important;
  }

  @media (min-width: 1440px) {
    .slide_series {
      display: none !important;
    }

    .grid_series {
      position: relative;
      overflow: hidden;
      height: 450px;
      width: 100%;

      display: grid !important;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 150px;
      grid-auto-flow: dense;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .span_horizontal {
        grid-column: span 2;
      }

      .span_vertical {
        grid-row: span 2;
      }

      .span_both {
        grid-area: span 2 / span 2;
      }
    }
  }
}

.slide_basic {
  margin-top: var(--unit-row);

  .card_ui {
    // width: calc((100% - 16px) / 3);
    gap: var(--unit-row);

    .card_ui_img_wrapper {
      aspect-ratio: 1 / 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
        transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
      }
    }

    .card_ui_info_wrapper {
      .info_description {
        color: var(--text-muted);
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:hover {
      cursor: pointer;

      .card_ui_img_wrapper {
        img {
          transform: scale(1.05);
          opacity: 0.75;
        }
      }

      .card_ui_info_wrapper {
        color: var(--text-light);

        .info_description {
          text-decoration: underline;
        }
      }
    }
  }
}

.product_other_color {
  margin-top: calc(var(--unit-row) * 4);
  margin-bottom: 0 !important;

  @media (min-width: 1440px) {
    margin-top: var(--unit-row);
  }
}

.product_similar {
  > div {
    &:first-child {
      margin-bottom: var(--unit-row);
    }
  }

  .slider_pagination_controls {
    margin-top: 0 !important;
  }
}

.slider_pagination_controls {
  margin-top: calc(var(--unit-row) * 2);
  gap: var(--unit-m-gutter);

  .ctrl_btn {
    place-items: center;
    cursor: pointer;
    background-color: var(--transparent);
    border: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.5;
    }
  }

  .page_number_indicator {
    display: flex;
    align-items: center;
    gap: calc(var(--unit-m-gutter) * 0.5);
  }
}

.product_content {
  background-color: var(--surface-bg-beige);

  .content_tab_menu {
    position: sticky;
    top: 80px; // GNB(헤더)가 있다면 그 높이만큼 지정 (ex: 80px)
    z-index: 3;

    width: 100%;
    border-bottom: 1.5px solid var(--stroke);
    background-color: var(--surface-bg-beige);

    @media (min-width: 768px) {
      & {
        top: 60px;
      }
    }

    .tab_item {
      flex: 1;
      position: relative;

      .tab_button {
        border: none;
        width: 100%;
        padding: calc(var(--unit-row) * 0.75) 0;
        color: var(--text-muted);
        transition: color 0.3s ease;
        background-color: var(--transparent);
        cursor: pointer;

        &:hover {
          color: var(--text-default);
        }
      }

      &.is_active {
        .tab_button {
          color: var(--primary);
          font-weight: 700;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2.5px;
          background-color: var(--primary);
        }
      }
    }
  }

  .content_details {
    // margin-top: calc(var(--unit-row) * 4);
    padding-top: calc(var(--unit-row) * 4 + 50px);
    gap: calc(var(--unit-row) * 4);
    background-color: var(--surface-bg-beige);

    h2 {
      display: block;
      margin-bottom: calc(var(--unit-row) * 2);
    }

    .detail_spec {
      background-color: var(--surface-bg);

      .spec_image_container {
        width: 100%;

        .spec_image_wrapper {
          // 조건 ①: 해상도 480px ~ 768px 구간
          // 상위 컨테이너 너비를 100% 차지하면서 비율대로 유연하게 늘어남
          @media (min-width: 480px) and (max-width: 767px) {
            width: 100%;
            max-width: 100%;
          }

          // 조건 ②: 해상도 768px 이상 구간
          // 이미지 크기로 가로폭을 고정시키고 중앙 배치
          @media (min-width: 768px) {
            width: 600px;
            margin: 0 auto;
          }

          figure {
            margin-bottom: calc(var(--unit-row) * 4); // 80px
          }

          .spec_image {
            width: 100%;
            height: auto;
            // 수치 텍스트 이미지가 해상도 대응 시 흐려지는 것을 방지
            image-rendering: -webkit-optimize-contrast;
          }

          .spec_photos {
            position: relative;
            width: 100vw;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
          }
        }
      }
    }

    .detail_review {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      display: flex;
      gap: calc(var(--unit-row) * 4);

      .review_photo_section {
        h2 {
          margin-bottom: 0 !important;
        }

        > div {
          margin-bottom: calc(var(--unit-row) * 2);
          &:first-child {
            div {
              gap: var(--unit-m-gutter);
            }
          }
        }

        .slider_pagination_controls {
          margin-top: 0 !important;
        }

        .swiper {
          width: 100%;
        }

        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 300px;
          height: 480px;
        }

        .swiper-slide img {
          display: block !important;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .slide_review_photo {
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          margin-right: calc(-50vw + 50%);
        }

        .card_ui {
          position: relative;
          overflow: hidden;
          cursor: pointer;

          .card_ui_img_wrapper {
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          // 2. 하단 정보 콘텐츠 래퍼
          .card_ui_info_wrapper {
            position: absolute;
            width: 100%;
            height: 240px;
            bottom: 0;
            left: 0;
            padding: 0 16px;
            box-sizing: border-box;
            transition: height 0.3s ease-in;

            .review_meta_box_wrapper {
              position: inherit;
              width: calc(100% - (16px * 2));
              bottom: 20px;
              // 리뷰어 아바타 + 평점 메타 박스
              .review_meta_box {
                width: 100%;
                gap: 12px;
                margin-bottom: 12px;

                // 원형 리뷰어 아바타 프로필 사진
                .avatar_box {
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                  overflow: hidden;
                  flex-shrink: 0; // 플렉스 레이아웃 내 크기 찌그러짐 방지

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                // 우측 텍스트 정보 헤딩 블록
                .review_heading {
                  // flex-grow: 1;
                  // gap: 2px;
                  text-align: end;

                  // 제품 품명 코드
                  .info_code {
                    color: #111111;
                    line-height: 1.2;
                  }

                  // 별점 배치 영역
                  .rating_box {
                    justify-content: end;

                    .star_icon {
                      color: #fbc02d;
                    }

                    .rate {
                      color: var(--text-muted);
                    }
                  }
                }
              }
            }

            // 3. 후기 본문 텍스트 (요구사항: 3줄 클램프 생략 처리)
            .review_text_content {
              display: -webkit-box;
              line-clamp: 3;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
          }

          // &:hover,
          &:active,
          &:focus {
            // 하단 박스를 카드 전체 높이(100%)로 부드럽게 채움
            .card_ui_info_wrapper {
              height: 100%;
              background-color: #f5f5f5ee;

              .review_meta_box_wrapper {
                top: 25%;
              }
            }

            // 핵심: 3줄 제한(클램프) 속성을 무력화하여 글 전체 노출
            .review_text_content {
              display: block;
              overflow-y: auto;
              line-clamp: unset;
              -webkit-line-clamp: unset;
            }
          }
        }

        // PC (1440px)
        @media (min-width: 1440px) {
          & {
            // remove vw
            width: 100% !important;
          }

          .slide_review_photo {
            width: 100% !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
      }

      .review_normal_section {
        > div {
          &:first-child {
            div {
              gap: var(--unit-m-gutter);
            }
          }
        }

        .card_slide_container {
          // margin-top: calc(var(--unit-row) * 1.5);
          width: 100%;
          overflow: hidden;
        }

        .card_group {
          display: flex;
          flex-wrap: nowrap;
          gap: var(--unit-row);
          width: 100%;
        }

        .card_item {
          width: 100%;

          &:nth-child(n + 3) {
            display: none !important;
          }

          @media (min-width: 768px) {
            &:nth-child(-n + 4) {
              display: flex !important;
            }

            &:nth-child(n + 5) {
              display: none !important;
            }
          }

          &:hover {
            .card_info_wrapper {
              text-decoration: none;
            }
          }

          .card_info_wrapper {
            width: 100%;
            text-decoration: none;
            gap: 0;
            cursor: pointer;

            &:hover,
            &:focus-within {
              .review_text_content {
                display: block;
                line-clamp: unset;
                -webkit-line-clamp: unset;
                max-height: 400px;
              }
            }

            .review_meta_box {
              display: flex;
              align-items: center;
              gap: 12px;
              width: 100%;

              .avatar_box {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;

                .avatar_img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .review_heading {
                gap: 2px;

                .model_code {
                  color: #111111;
                  line-height: 1.2;
                }

                .rating_box {
                  .star_icon {
                    color: #ffcc00;
                  }

                  .score {
                    color: var(--text-muted);
                  }
                }
              }
            }

            .review_text_content {
              margin-top: calc(var(--unit-row) * 0.5);
              max-height: 3em;

              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-clamp: 2;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              word-break: break-all;

              transition: max-height 0.75s ease-in-out;
            }
          }
        }
      }

      .btn_more_review {
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .detail_qna {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      display: flex;

      .qna_accordion_container {
        width: 100%;

        @media (min-width: 768px) {
          max-width: calc(768px - (var(--unit-t-margin) * 2));
          margin-left: auto;
          margin-right: auto;
        }

        .qna_list {
          gap: var(--unit-row);

          .qna_item {
            width: 100%;
            background-color: transparent;
            padding: 5px 0;
            gap: calc(var(--unit-row) * 0.5);

            // 질문 클릭 트리거 영역
            .qna_trigger {
              cursor: pointer;

              .qna_date {
                color: var(--text-muted);
              }
            }

            .qna_content {
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            }

            &.is_active {
              .qna_content {
                max-height: fit-content;
              }
            }
          }
        }
      }
    }

    .detail_purchase_info {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      display: flex;

      .purchase_sub_section_container {
        gap: var(--unit-row);

        strong {
          @extend .mont_bold_12 !optional;
        }

        strong,
        li {
          color: var(--text-muted);
        }

        .purchase_sub_section {
          gap: calc(var(--unit-row) * 0.5);
        }

        .purchase_sub_section.shipping_section {
          .shipping_table_container {
            width: 100%;
            // border-top: 1px solid #111111;
            display: flex !important;
            flex-direction: column !important;

            .shipping_table_row {
              width: 100%;
              border-bottom: 1px solid rgba(17, 17, 17, 0.15);
              padding: var(--unit-row) 0;

              &:last-of-type {
                border: none;
              }

              .table_cell {
                width: 100%;

                &.cell_type {
                  width: 120px;
                }

                &.cell_info {
                  flex: 1;

                  .cell_text_list {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    li {
                      color: #555555;
                      line-height: 1.5;
                      word-break: keep-all;
                    }
                  }
                }
              }
            }

            .table_header {
              border-top: 1px solid var(--text-default);
              border-bottom: 1px solid var(--text-default);
              padding: calc(var(--unit-row) * 0.25) 0;
            }
          }
        }
      }
    }
  }
}
